In [31]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

from sklearn.preprocessing import MinMaxScaler

import pickle
from os import path

from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

import sklearn.cluster as cluster
import time

**1. Regression Data Tabular**

In [32]:
data_initial = pd.read_csv("/content/drive/MyDrive/Workshop AI/d3/sales_subset.csv", index_col=0)
data_initial

       store type  ...  fuel_price_usd_per_l unemployment
0          1    A  ...              0.679451        8.106
1          1    A  ...              0.693452        8.106
2          1    A  ...              0.718284        7.808
3          1    A  ...              0.748928        7.808
4          1    A  ...              0.714586        7.808
...      ...  ...  ...                   ...          ...
10769     39    A  ...              0.834256        7.716
10770     39    A  ...              0.887619        7.244
10771     39    A  ...              0.911922        6.989
10772     39    A  ...              0.860145        6.623
10773     39    A  ...              0.955511        6.228

[10774 rows x 9 columns]

In [33]:
print(data_initial.shape)

(10774, 9)

In [34]:
data_initial.tail()

       store type  ...  fuel_price_usd_per_l unemployment
10769     39    A  ...              0.834256        7.716
10770     39    A  ...              0.887619        7.244
10771     39    A  ...              0.911922        6.989
10772     39    A  ...              0.860145        6.623
10773     39    A  ...              0.955511        6.228

[5 rows x 9 columns]

In [35]:
data_initial.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 768.1+ KB

In [36]:
data = pd.get_dummies(data_initial, columns= ["type", "is_holiday"])
data

       store  department        date  ...  type_B  is_holiday_False  is_holiday_True
0          1           1  2010-02-05  ...       0                 1                0
1          1           1  2010-03-05  ...       0                 1                0
2          1           1  2010-04-02  ...       0                 1                0
3          1           1  2010-05-07  ...       0                 1                0
4          1           1  2010-06-04  ...       0                 1                0
...      ...         ...         ...  ...     ...               ...              ...
10769     39          99  2011-12-09  ...       0                 1                0
10770     39          99  2012-02-03  ...       0                 1                0
10771     39          99  2012-06-08  ...       0                 1                0
10772     39          99  2012-07-13  ...       0                 1                0
10773     39          99  2012-10-05  ...       0                 1                0

[10774 rows x 11 columns]

In [37]:
data = data.drop('date', axis=1)

In [39]:
predictor = ['store', 'department', 'temperature_c', 'unemployment', 'type_A', 'type_B', 'is_holiday_False', 'is_holiday_True']
target = ['weekly_sales']

X = data[predictor]
y = data[target]

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [42]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

In [43]:
lr_model.predict(X_test)

array([[25621.49982501],
       [29523.10766546],
       [16359.70682718],
       ...,
       [32657.96546867],
       [28807.85088649],
       [22672.73251834]])

In [44]:
y_test

       weekly_sales
1332        4251.09
10676      54441.48
2932       14643.49
7737         691.00
5491       17056.69
...             ...
10046      51551.27
5218       18624.69
2681       13089.72
7923       36806.43
6732       81435.51

[2155 rows x 1 columns]

In [45]:
y_pred = lr_model.predict(X_test)
y_pred

array([[25621.49982501],
       [29523.10766546],
       [16359.70682718],
       ...,
       [32657.96546867],
       [28807.85088649],
       [22672.73251834]])

In [50]:
print("MAE Score :", metrics.mean_absolute_error(y_test,y_pred))
print("MSE Score :",metrics.mean_squared_error(y_test,y_pred))
print("RMSE : ", metrics.mean_squared_error(y_test,y_pred, squared=False))
print("R2 Score :" , metrics.r2_score(y_test,y_pred))

MAE Score : 21661.067011023606
MSE Score : 863477396.292556
RMSE :  29384.98589913829
R2 Score : 0.0405237491824878